<h1>Angular Training Day-4 and Day-5 session with real time news data call</h1>
<div class="content">
    <span>{{title}}</span>
</div>
<!--<app-stocks1></app-stocks1>
<app-stocks2></app-stocks2><app-stocks3></app-stocks3>

<app-stock-details></app-stock-details>-->

<section class="container">
    <app-news [title]="'India'" [countryCode]="'in'"></app-news>
    <app-news [title]="'USA'" [countryCode]="'us'"></app-news>
    <app-news [title]="'France'" [countryCode]="'fr'"></app-news>
    <app-news [countryCode]="'gb'"></app-news>
</section>